**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitattributes
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/obj
**/*.bat
**/*.log
**/*.md
**/*.yml
**/*.yaml
**/.editorconfig
**/package-lock.json
**/appsettings.localhost.json
**/test-results
**/TestResults
LICENSE
global.json
